* {
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;

  padding: 10px;
}
.todo-input,
.display-list {
  display: grid;
  grid-template-columns: 250px 150px 150px;
  gap: 15px;
  align-items: center;
}
.todo-input {
  align-items: stretch;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.3s;
  color: whitesmoke;
  font-size: 1rem;
}
p {
  margin: 5px;
  font-size: 1.2rem;
}
.name-input,
.date-input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid;
}
.add-btn {
  background-color: green;
}
.add-btn:hover {
  background-color: rgb(10, 217, 10);
}
.delete-btn {
  background-color: darkred;
}
.delete-btn:hover {
  background-color: rgb(207, 11, 11);
}